%h4.container Shopping Cart
%table.table.container
  %thead.thead-inverse
    %tr
      %th Product
      %th Price
      %th Quantity
      %th
      %th

  %tbody
    - products.each do |product|
      %tr
        %td= product.name
        %td= number_to_currency(product.price)
        %td= quantities[product.name]
        %td{id: product.id.to_s}
          %button.btn.btn-default.btn-sm
            -{id: product.id.to_s}
            Remove


%div
  = 'Total Price: '
  = number_to_currency(total_price)

%br
