%h2.container Thank you for shopping at Krispy Shoppe
%h4.container Below is a list of your purchases today
%div.container
  %table.table
    %thead.thead-inverse
      %tr
        %th Product
        %th Price
        %th Quantity

    %tbody
      - @products.each do |product|
        %tr
          %td= product.name
          %td= number_to_currency(product.price)
          %td= @quantities[product.name]

%div.container
  = 'Your Order Total: '
  = number_to_currency(@total_price)
