%h2 Thank you for shopping at Krispy Shoppe
%h4 Below is a list of your purchases today
%table.table
  %thead.thead-inverse
    %tr
      %th Product
      %th Price
      %th Quantity

  %tbody
    - @products.each do |product|
      %tr
        %td= product.name
        %td= number_to_currency(product.price)
        %td= @quantities[product.name]

%div
  = 'Your Order Total: '
  = @total_price
