.row-fluid.jumbotron.container
  %p#notice= notice
  .col-sm-8.col-lg-8.col-md-8
    %p.center-block
      %b Name:
      = @product.name
    .thumbnail
      = image_tag('http://ecx.images-amazon.com/images/I/61Duy2H5s1L._SL1500_.jpg')

    %p
      %b Category:
      = @product.category.name
    %p
      %b Description:
      = @product.description
    %p
      %b Quantity:
      = @product.quantity
    %p
      %b Price:
      = number_to_currency(@product.price)
    %p
    - if current_user
      = form_for(@cart) do |f|
        .field
          = f.hidden_field :item_id, value: @product.id
        %fieldset.form-group
          = number_field :name, "quantity"
        - if @product.quantity >= 1
          = f.submit "Add To Cart", {class: "btn btn-success"}
        - else
          = f.submit "Add To Cart", {class: "btn btn-success disabled"}

    = link_to 'Back', products_path, {class: "btn btn-default"}
